* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: "Lexend Deca", sans-serif;
}
html {
	scroll-behavior: smooth;
}

img,
video {
	max-width: 100%;
	object-fit: cover;
}

.img-fluid {
	height: 100% !important;
}
.customBorder {
	border: 0.05rem solid #00cc4e !important;
}
.main-bg {
	height: 75vh;
	background: url("images/main22.jpg") no-repeat
		center/cover;
}

.why {
	background: url("images/homesubbg.jpg") no-repeat
		center/cover;
	position: relative;
}
.why2 {
	background: url("images/boysonbeach.jpg") no-repeat
		center/cover;
}
.why3 {
	background: url("images/pvtsubbg.jpg") no-repeat
		center/cover;
}
.destBoat {
	background: url("images/destboat.jpg") no-repeat
		center/cover;
}

.pvtMain {
	background: url("images/jetskii.jpg") no-repeat
		center/cover;
}
.tour-bg {
	background: url("images/tourhorse.jpg") no-repeat
		center/cover;
}
.tourList-bg {
	background: url("images/tourbg.jpg") no-repeat
		center/cover;
}
.navbar-light .navbar-toggler {
	border: none !important;
}

.sky {
	padding: 7rem !important;
	background: url("images/sky1.jpg") no-repeat center/cover;
	position: relative;
}
.sky2 {
	padding: 7rem !important;
	background: url("images/destsubbg.jpg") no-repeat
		center/cover;
	position: relative;
}
.psa {
	position: absolute;
	top: 12%;
	left: 46%;
}

.psa2 {
	position: absolute;
	top: 15%;
	left: 46%;
}
.skyOver {
	z-index: 1;
}

.customGridParent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 1rem !important;
	grid-template-areas:
		"child1 child2 child3"
		"child1 child2 child3"
		"child4 child2 child5"
		"child4 child7 child5"
		"child6 child7 child8"
		"child6 child7 child8";
}

.customGridChild1 {
	grid-area: child1;
	position: relative;
}
.customGridChild2 {
	grid-area: child2;
	position: relative;
}
.customGridChild3 {
	grid-area: child3;
	position: relative;
}
.customGridChild4 {
	grid-area: child4;
	position: relative;
}
.customGridChild5 {
	grid-area: child5;
	position: relative;
}
.customGridChild6 {
	grid-area: child6;
	position: relative;
}
.customGridChild7 {
	grid-area: child7;
	position: relative;
}
.customGridChild8 {
	grid-area: child8;
	position: relative;
}

.pvtCustomGridParent {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(2, 15vw);
	gap: 0.25rem !important;
	grid-template-areas:
		"pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild2 pvtChild2 pvtChild2 pvtChild2 pvtChild3 pvtChild3 pvtChild3 pvtChild3 "
		"pvtChild4 pvtChild4 pvtChild4 pvtChild4 pvtChild5 pvtChild5 pvtChild5 pvtChild5 pvtChild6 pvtChild6 pvtChild6 pvtChild6 pvtChild6 pvtChild6 pvtChild6 ";
}

.pvtCustomGridChild1 {
	grid-area: pvtChild1;
	position: relative;
}
.pvtCustomGridChild2 {
	grid-area: pvtChild2;
	position: relative;
}
.pvtCustomGridChild3 {
	grid-area: pvtChild3;
	position: relative;
}
.pvtCustomGridChild4 {
	grid-area: pvtChild4;
	position: relative;
}
.pvtCustomGridChild5 {
	grid-area: pvtChild5;
	position: relative;
}
.pvtCustomGridChild6 {
	grid-area: pvtChild6;
	position: relative;
}

.customGridParent img,
.pvtCustomGridParent img {
	height: 100% !important;
	width: 100% !important;
}

.opac {
	background-color: rgba(0, 0, 0, 0.589);
	padding: 1rem 1rem 1rem;
	position: relative;
}
.opac2 {
	background-color: rgba(0, 0, 0, 0.589);
	padding: 3rem 3rem 3rem;
	position: relative;
}

.opacc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
}
.opacc:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.65);
}
.cardInfo h4 {
	margin: 15rem 0 0 2rem;
}
.cardInfo p {
	margin: 0 0 0 2rem;
}
.cardInfo span {
	margin: 1rem 0 0 2rem;
}
.cardInfo i {
	margin: 0.5rem 0 0 0;
}

.cardInfoLg h4 {
	margin: 27rem 0 0 2rem;
}
.cardInfoLg p {
	margin: 0 0 0 2rem;
}
.cardInfoLg span {
	margin: 1rem 0 0 2rem;
}
.cardInfoLg i {
	margin: 0.5rem 0 0 0;
}
.opacc:hover h4 {
	transform: translateY(-350%);
	transition: all 0.4s ease-in-out;
}
.opacc:hover p {
	transform: translateY(-260%);
	transition: all 0.4s ease-in-out;
	margin: 0 0 0 2rem !important;
}
.opacc:hover span {
	transform: translateY(-200%);
	transition: all 0.4s ease-in-out;
}
.opacc:hover i {
	transform: translateY(-400%);
	transition: all 0.4s ease-in-out;
}

.pvtcardInfo h4 {
	margin: 12.5rem 0 0 2rem;
}
.pvtcardInfo p {
	margin: 12.5rem 0 0 2rem;
}

.btnpos {
	position: absolute;
	top: 95%;
	left: 45.5%;
}
.carousel-indicators button {
	border-radius: 99% !important;
	height: 10px !important;
	width: 10px !important;
}

.customPopup {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}
.fa-square-xmark {
	position: absolute !important;
	top: 2%;
	left: 98%;
}

.tourlistCard,
.fa-square-xmark:hover {
	cursor: pointer;
}
textarea {
	height: 200px !important;
}

.book-bg {
	background-color: #95cf00 !important;
}
.btn {
	background-color: #03f03e !important;
}
.btn:hover {
	background-color: #2afc5e !important;
}
.footer-bg {
	background-color: #417703 !important;
}

.hidden {
	display: none;
}
.textcrd {
	margin-bottom: 0 !important;
	padding-bottom: 1rem !important;
}

.ftechild {
	position: relative;
}

.ftechildOpac {
	padding: 19.85rem 0 0 !important;
	transition: all 0.6s ease-in-out !important;
}

.customBorderbottom {
	border-bottom: 0.25rem solid #95cf00;
}
.customBorderbottom:hover {
	cursor: pointer;
	border-bottom: 0.25rem solid #b9ff09;
	transition: all 0.3s ease-in-out;
}
.navbar-nav a:hover {
	background-color: #03f03e;
	color: #fff !important;
}

.review-circle {
	height: 18px;
	width: 18px;
	border: 1px solid #0c882b !important;
	border-radius: 50%;
	margin: 0.5rem 0.05rem;
}
.review-circle-bg {
	background-color: #03f03e !important;
}
.opinions {
	margin: 0.35rem !important;
}
@media screen and (max-width: 1024px) {
	iframe,
	video {
		width: 100% !important;
		height: 100% !important;
	}
	.skyOver {
		width: 100%;
		margin: 1rem 0;
	}
	.psa {
		all: unset;
	}

	.pvtcardInfo h4 {
		margin: 12.5rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 12.5rem 0 0 2rem;
	}
	.customPopup {
		position: fixed;
		top: 2%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	.fa-square-xmark {
		position: absolute !important;
		top: 2%;
		left: 97%;
	}
	.customPopup {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.psa {
		all: unset;
	}
	.skyOver {
		width: 100%;
		margin: 1rem 0;
	}
	iframe,
	video {
		width: 100% !important;
		height: 100% !important;
	}

	.opac {
		padding: 0;
	}
	.btnpos {
		position: static;
	}
	.sky {
		padding: 1.5rem 0 !important;
	}

	.pvtcardInfo h4 {
		margin: 11rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 5rem 0 0 2rem;
	}
	.customPopup {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	.fa-square-xmark {
		position: absolute !important;
		top: 2%;
		left: 95%;
	}
	.customPopup {
		width: 90%;
	}
}
@media screen and (max-width: 425px) {
	.psa {
		all: unset;
	}
	.skyOver {
		width: 100%;
		margin: 1rem 0;
	}
	iframe,
	video {
		width: 100% !important;
		height: 100% !important;
	}
	.customGridParent,
	.pvtCustomGridParent {
		display: block !important;
	}
	.opac {
		padding: 0;
	}
	.btnpos {
		position: static;
	}
	.sky {
		padding: 1.5rem 0 !important;
	}

	.pvtcardInfo h4 {
		margin: 11rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 5rem 0 0 2rem;
	}
	.customPopup {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	.fa-square-xmark {
		position: absolute !important;
		top: 2%;
		left: 93%;
	}
	.customPopup {
		width: 90%;
	}

	.cardInfo h4 {
		margin: 4.5rem 0 0 2rem;
	}
	/* .cardInfo p {
		margin: 0 0 0 2rem;
	}
	.cardInfo span {
		margin: 1rem 0 0 2rem;
	}
	.cardInfo i {
		margin: 0.5rem 0 0 0;
	} */

	.cardInfoLg h4 {
		margin: 14.5rem 0 0 2rem;
	}
	/* .cardInfoLg p {
		margin: 0 0 0 2rem;
	}
	.cardInfoLg span {
		margin: 1rem 0 0 2rem;
	}
	.cardInfoLg i {
		margin: 0.5rem 0 0 0;
	} */
}
