* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: "Lexend Deca", sans-serif;
}
html {
	scroll-behavior: smooth;
}

img,
video {
	max-width: 100%;
	object-fit: cover;
}

.img-fluid {
	height: 100% !important;
}
.customBorder {
	border: 0.05rem solid #00cc4e !important;
}
.customBorder:hover {
	border: 0.05rem solid #00ff62 !important;
	transition: all 0.1s ease-in-out;
}
.main-bg {
	background: url("images/main22.webp") no-repeat
		center/cover;
}
.mainh1 {
	font-size: 4rem;
}
.why {
	background: url("images/homesubbg.webp") no-repeat
		center/cover;
	position: relative;
}
.why2 {
	background: url("images/boysonbeach.webp") no-repeat
		center/cover;
}
.why3 {
	background: url("images/pvtsubbg.webp") no-repeat
		center/cover;
}
.destBoat {
	background: url("images/destboat.webp") no-repeat
		center/cover;
}

.pvtMain {
	background: url("images/middleblue.webp") no-repeat
		center/cover;
}
.tour-bg {
	background: url("images/tourhorse.webp") no-repeat
		center/cover;
}
.tourList-bg {
	background: url("images/beauty.webp") no-repeat
		center/cover;
}
.navbar-light .navbar-toggler {
	border: none !important;
}

.sky {
	padding: 7rem !important;
	background: url("images/sky1.webp") no-repeat center/cover;
	position: relative;
}
.sky2 {
	padding: 7rem !important;
	background: url("images/destsubbg.webp") no-repeat
		center/cover;
	position: relative;
}
.psa {
	position: absolute;
	top: 13%;
	left: 46%;
}

.psa2 {
	position: absolute;
	top: 13.34%;
	left: 46%;
}
.skyOver {
	z-index: 1;
}
.tailor {
	background-color: #95cf00 !important;
}
.group {
	background-color: #5daf00 !important;
}
.text-color {
	color: #64af01;
}
.text-color2 {
	color: #89db1d;
}
.customGridParent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 1rem !important;
	grid-template-areas:
		"child1 child2 child3"
		"child1 child2 child3"
		"child4 child2 child5"
		"child4 child7 child5"
		"child6 child7 child8"
		"child6 child7 child8";
}

.customGridChild1 {
	grid-area: child1;
	position: relative;
}
.customGridChild2 {
	grid-area: child2;
	position: relative;
}
.customGridChild3 {
	grid-area: child3;
	position: relative;
}
.customGridChild4 {
	grid-area: child4;
	position: relative;
}
.customGridChild5 {
	grid-area: child5;
	position: relative;
}
.customGridChild6 {
	grid-area: child6;
	position: relative;
}
.customGridChild7 {
	grid-area: child7;
	position: relative;
}
.customGridChild8 {
	grid-area: child8;
	position: relative;
}

.pvtCustomGridParent {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(2, 15vw);
	gap: 0.25rem !important;
	grid-template-areas:
		"pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild1 pvtChild2 pvtChild2 pvtChild2 pvtChild2 pvtChild3 pvtChild3 pvtChild3 pvtChild3 "
		"pvtChild4 pvtChild4 pvtChild4 pvtChild4 pvtChild5 pvtChild5 pvtChild5 pvtChild5 pvtChild6 pvtChild6 pvtChild6 pvtChild6 pvtChild6 pvtChild6 pvtChild6 ";
}

.pvtCustomGridChild1 {
	grid-area: pvtChild1;
	position: relative;
}
.pvtCustomGridChild2 {
	grid-area: pvtChild2;
	position: relative;
}
.pvtCustomGridChild3 {
	grid-area: pvtChild3;
	position: relative;
}
.pvtCustomGridChild4 {
	grid-area: pvtChild4;
	position: relative;
}
.pvtCustomGridChild5 {
	grid-area: pvtChild5;
	position: relative;
}
.pvtCustomGridChild6 {
	grid-area: pvtChild6;
	position: relative;
}

.gallery img,
.destImg img,
.pvtCategory img,
.customGridParent img,
.pvtCustomGridParent img {
	height: 100% !important;
	width: 100% !important;
}

.opac {
	background-color: rgba(0, 0, 0, 0.589);
	padding: 1rem 1rem 1rem;
	position: relative;
}
.opac2 {
	background-color: rgba(0, 0, 0, 0.589);
	padding: 3rem 3rem 3rem;
	position: relative;
}

.opacc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
}
.opacc:hover {
	background-color: rgba(0, 0, 0, 0.65);
}
.cardInfo h4 {
	margin: 10rem 0 0 2rem;
}
.cardInfo p {
	margin: 0 0 0 2rem;
}
.cardInfo span {
	margin: 1rem 0 0 2rem;
}
.cardInfo i {
	margin: 0.5rem 0 0 0;
}

.cardInfoLg h4 {
	margin: 19.25rem 0 0 2rem;
}
.cardInfoLg p {
	margin: 0 0 0 2rem;
}
.cardInfoLg span {
	margin: 1rem 0 0 2rem;
}
.cardInfoLg i {
	margin: 0.5rem 0 0 0;
}
.opacc:hover h4 {
	transform: translateY(-350%);
	transition: all 0.4s ease-in-out;
}
.opacc:hover p {
	transform: translateY(-260%);
	transition: all 0.4s ease-in-out;
	margin: 0 0 0 2rem !important;
}
.opacc:hover span {
	transform: translateY(-200%);
	transition: all 0.4s ease-in-out;
}
.opacc:hover i {
	transform: translateY(-400%);
	transition: all 0.4s ease-in-out;
}

.pvtcardInfo h4 {
	margin: 12.5rem 0 0 2rem;
}
.pvtcardInfo p {
	margin: 12.5rem 0 0 2rem;
}

.btnpos {
	position: absolute;
	top: 95%;
	left: 45.5%;
}
.carousel-indicators button {
	border-radius: 99% !important;
	height: 10px !important;
	width: 10px !important;
}

.customPopup {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}
.fa-square-xmark {
	position: absolute !important;
	top: 2%;
	left: 98%;
}
[data-tourlist],
.fa-square-xmark:hover {
	cursor: pointer;
}
textarea {
	height: 200px !important;
}

.book-bg {
	background-color: #95cf00 !important;
}
.btn {
	background-color: #03f03e !important;
}
.btn:hover {
	background-color: #2afc5e !important;
}
.footer-bg {
	background-color: #417703 !important;
}

.hidden {
	display: none;
}
.textcrd {
	margin-bottom: 0 !important;
	padding-bottom: 1rem !important;
}

.ftechild {
	position: relative;
}

.ftechildOpac {
	padding: 24.5rem 0 0 !important;
	transition: all 0.4s ease-in-out !important;
}

.customBorderbottom {
	border-bottom: 0.25rem solid #95cf00;
}
.customBorderbottom:hover {
	cursor: pointer;
	border-bottom: 0.25rem solid #b9ff09;
	transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover {
	background-color: #03f03e;
	color: #fff !important;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0.15rem !important;
}

.review-circle {
	height: 15px;
	width: 15px;
	border: 1px solid #0c882b !important;
	border-radius: 50%;
	margin: 0.5rem 0.05rem;
}
.review-circle-bg {
	background-color: #03f03e !important;
}
.opinions {
	margin: 0.35rem !important;
}

[data-tourlist] .img1 {
	height: 24.5rem !important;
	width: 100% !important;
}

.custCard:hover {
	background-color: #04bd32;
	color: #fff !important;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

@media screen and (max-width: 1440px) {
	.pvtcardInfo h4 {
		margin: 7.5rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 8.5rem 0 0 2rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
	[data-tourlist] .img1 {
		height: 31.5rem !important;
		width: 100% !important;
	}
	.tlreview,
	.tlreview2 {
		margin: 0 0 0 1.8rem !important;
	}
	.tlgraphics * {
		margin: 0.1rem !important;
	}

	.opacc:hover h4 {
		transform: translateY(-160%);
		transition: all 0.4s ease-in-out;
	}
	.opacc:hover p {
		transform: translateY(-180%);
		transition: all 0.4s ease-in-out;
	}
	.opacclg:hover h4 {
		transform: translateY(-190%);
		transition: all 0.4s ease-in-out;
	}
	.opacclg:hover p {
		transform: translateY(-180%);
		transition: all 0.4s ease-in-out;
	}
	.transp {
		font-size: 0.85rem;
	}
}

@media screen and (max-width: 1024px) {
	iframe,
	video {
		width: 100% !important;
		height: 100% !important;
	}
	.skyOver {
		width: 100%;
		margin: 1rem 0;
	}
	.mainh1 {
		font-size: 2rem;
	}
	.psa,
	.psa2 {
		all: unset;
	}

	.pvtcardInfo h4 {
		margin: 5.5rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 5.5rem 0 0 2rem;
	}
	.customPopup {
		position: fixed;
		top: 2%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	.fa-square-xmark {
		position: absolute !important;
		top: 2%;
		left: 97%;
	}
	.customPopup {
		width: 90%;
	}
	.sky {
		padding: 1.5rem 0 !important;
	}

	.sky2 {
		padding: 1.5rem 0 !important;
	}
	.cardInfo h4 {
		margin: 5.5rem 0 0 2rem;
	}
	.cardInfoLg h4 {
		margin: 12.35rem 0 0 2rem;
	}

	.ftechildOpac {
		padding: 29rem 0 0 !important;
		transition: all 0.4s ease-in-out !important;
	}

	.ftechildOpac:hover h4,
	.Cardinfoopacc:hover h4 {
		transform: translateY(-320%);
		transition: all 0.4s ease-in-out;
	}
	.ftechildOpac:hover p,
	.Cardinfoopacc:hover p {
		transform: translateY(-250%);
		transition: all 0.4s ease-in-out;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.tlreview {
		margin: 0 0 0 2.5rem !important;
	}
}

@media screen and (max-width: 768px) {
	.psa,
	.psa2 {
		all: unset;
	}
	.skyOver {
		width: 100%;
		margin: 1rem 0;
	}
	iframe,
	video {
		width: 100% !important;
		height: 100% !important;
	}
	.mainh1 {
		font-size: 2rem;
	}
	.opac {
		padding: 0;
	}
	.btnpos {
		position: static;
	}
	.sky {
		padding: 1.5rem 0 !important;
	}

	.sky2 {
		padding: 1.5rem 0 !important;
	}

	.pvtcardInfo h4 {
		margin: 9rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 5rem 0 0 2rem;
	}
	.customPopup {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	.fa-square-xmark {
		position: absolute !important;
		top: 2%;
		left: 95%;
	}
	.customPopup {
		width: 90%;
	}
	.cardInfo h4 {
		margin: 6.5rem 0 0 2rem;
	}
	.cardInfoLg h4 {
		margin: 6.5rem 0 0 2rem;
	}

	.customGridParent {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1rem !important;
		grid-template-areas:
			"child1 child2"
			"child3 child4"
			"child5 child6"
			"child7 child8";
	}
	.pvtCustomGridParent {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 0.25rem !important;
		grid-template-areas:
			"pvtChild1 pvtChild2"
			" pvtChild3 pvtChild4"
			" pvtChild5 pvtChild6";
	}
	[data-tourlist] .img1 {
		height: 18rem !important;
		width: 100% !important;
	}
	.ftechildOpac {
		padding: 28rem 0 0 !important;
		transition: all 0.4s ease-in-out !important;
	}
}

@media screen and (max-width: 425px) {
	.ecologo {
		width: 295px;
		height: 35px;
	}
	.psa,
	.psa2 {
		all: unset;
	}
	.skyOver {
		width: 100%;
		margin: 1rem 0;
	}
	.mainh1 {
		font-size: 2rem;
	}
	iframe,
	video {
		width: 100% !important;
		height: 100% !important;
	}
	.customGridParent,
	.pvtCustomGridParent {
		display: block !important;
	}
	.opac {
		padding: 0;
	}
	.btnpos {
		position: static;
	}
	.sky {
		padding: 1.5rem 0 !important;
	}

	.sky2 {
		padding: 1.5rem 0 !important;
	}

	.pvtcardInfo h4 {
		margin: 10.35rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 5rem 0 0 2rem;
	}
	.customPopup {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	.fa-square-xmark {
		position: absolute !important;
		top: 2%;
		left: 93%;
	}
	.customPopup {
		width: 90%;
	}

	.cardInfo h4,
	.cardInfoLg h4 {
		margin: 8.5rem 0 0 2rem;
	}

	.customGridParent {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 30vh;
		gap: 1rem !important;
		grid-template-areas:
			"child1"
			"child2"
			"child3"
			"child4"
			"child5"
			"child6"
			"child7"
			"child8";
	}
	.ftechild img {
		height: 350px;
	}
	.ftechildOpac {
		padding: 7.5rem 0 0 !important;
		transition: all 0.4s ease-in-out !important;
	}
	.opacc:hover p {
		transform: translateY(-170%);
		transition: all 0.4s ease-in-out;
	}
	.Cardinfoopacc:hover h4 {
		transform: translateY(-370%);
		transition: all 0.4s ease-in-out;
	}
	.ftechildOpac:hover h4 {
		transform: translateY(-350%);
		transition: all 0.4s ease-in-out;
	}
	.ftechildOpac:hover p,
	.Cardinfoopacc:hover p {
		transform: translateY(-250%);
		transition: all 0.4s ease-in-out;
	}
}

@media screen and (max-width: 375px) {
	.ecologo {
		width: 235px;
		height: 35px;
	}
	.cardInfo h4,
	.cardInfoLg h4 {
		margin: 6.5rem 0 0 2rem;
	}
	.pvtcardInfo h4 {
		margin: 8.5rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 9.5rem 0 0 2rem;
	}
	.opacc:hover p {
		transform: translateY(-110%);
		transition: all 0.4s ease-in-out;
	}

	.ftechildOpac {
		padding: 9.5rem 0 0 !important;
		transition: all 0.4s ease-in-out !important;
	}
	.ftechildOpac {
		padding: 9.35rem 0 0 !important;
		transition: all 0.4s ease-in-out !important;
	}
	.ftechildOpac:hover h4 {
		transform: translateY(-350%);
		transition: all 0.4s ease-in-out;
	}
	.ftechildOpac:hover p,
	.Cardinfoopacc:hover p {
		transform: translateY(-250%);
		transition: all 0.4s ease-in-out;
	}
}

@media screen and (max-width: 320px) {
	.ecologo {
		width: 185px;
		height: 35px;
	}
	.cardInfo h4,
	.cardInfoLg h4 {
		margin: 4.5rem 0 0 2rem;
	}

	.pvtcardInfo h4 {
		margin: 6.5rem 0 0 2rem;
	}
	.pvtcardInfo p {
		margin: 3.5rem 0 0 2rem;
	}

	.opacc:hover p {
		transform: translateY(-110%);
		transition: all 0.4s ease-in-out;
	}
	.ftechildOpac {
		padding: 11.35rem 0 0 !important;
		transition: all 0.4s ease-in-out !important;
	}
	.ftechildOpac:hover h4 {
		transform: translateY(-350%);
		transition: all 0.4s ease-in-out;
	}

	.ftechildOpac:hover p,
	.Cardinfoopacc:hover p {
		transform: translateY(-250%);
		transition: all 0.4s ease-in-out;
	}
}
