* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-bg,
.why {
	/* height: 85vh; */
	background: url("images/main.jpg") no-repeat center/cover;
}

.customGridParent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
.cgc1 {
	grid-column-start: 2;
	grid-row: 1/3;
}

.cgc2 {
	grid-column-start: 2;
	grid-row: 3/5;
}
